* {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}
body {
  background-color: #ecf0f1;
}
.container {
  margin: 60px 0px 0px 350px;
  width: 30%;
  background-color: #387a80;
  color: #fffffa;
  border-radius: 10px;
  box-shadow: 13px 13px 10px 8px rgb(82, 80, 80);
}
#pic {
  border-radius: 50%;
  height: 130px;
  width: 130px;
  display: inline-block;
  position: relative;
  left: 160px;
  margin-bottom: 10px;
}
#span1 {
  display: block;
  text-transform: uppercase;
  font-size: larger;
  position: relative;
  left: 125px;
  padding-top: 10px;
}
#span2 {
  display: inline-block;
  font-size: larger;
  position: relative;
  left: 130px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.info {
  display: block;
}

.information {
  text-align: center;
  text-transform: uppercase;
  padding-right: 30px;

  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid cadetblue;
  border-radius: 10px;
  background-color: rgb(96, 205, 209);
}
